<h1><%= @list.title %></h1>

<% @list.tasks.each do |task| %>
<div class="task">
  <p><%= task.title %></p>
  <p><%= task.body %></p>
  <p>Start Date: <%= task.start_date %></p>
  <p>Due Date: <%= task.due_date %></p>
</div>
<% end  %>

<%= link_to "Add Task", new_list_task_path(@list.id) %>
