<h1><%= @list.title %></h1>

<% @list.tasks.each do |task| %>
<div class="task">
  <h3><%= task.title %></h3>
  <p><%= task.body %></p>
  <p>Start Date: <%= task.start_date %></p>
  <p>Due Date: <%= task.due_date %></p>
  <p><%= link_to "Edit Task", edit_list_task_path(@list.id, task.id) %></p>
  <p><%= link_to "Delete Task", list_task_path(@list.id, task.id), method: :delete %></p>
</div>
<% end  %>

<%= link_to "Add Task", new_list_task_path(@list.id) %>
