<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Howdy!</h1>
    <h2>
      We have some information about your updated task!
    </h2>

    <h3>Title: <%= @task.title %></h3>

    <p>Body: <%= @task.body %></p>

    <p>State Date: <%= @task.due_date %></p>

    <p>Due Date: <%= @task.due_date %></p>

    <h4>Status: <%= @task.status %></h4>
  </body>
</html>
